body{
  background-color:#001d3d;
}

.nombre{
  text-align: center;
  font-size: auto;
}

.image-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 300px; 
}

.imagen {
  width: 250px; 
  height: auto; 
}

.marvel{
  text-align: center;
  font-size: 50px;
  color: #8d99ae;
}

.buscar{
  display: flex;
  justify-content:end;
}
